.export-btn-container {
  display: flex;
  justify-content: center;
}

.export-btn {
  background-color: #32a852;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border: none;
}

.export-btn:hover {
  background-color: #327a46;
  cursor: pointer;
}
